<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="하루 친구(청소년)"
        android:supportsRtl="true"
        android:theme="@style/Theme.PortfolioTeenagerEmotionPreventApp"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>

        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:parentActivityName=".LoginActivity" />

        <activity
            android:name=".InfoListActivity"
            android:parentActivityName=".ChatBotActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChatBotActivity" />
        </activity>

        <activity
            android:name=".SelectActivity"
            android:exported="false"
            android:parentActivityName=".LoginActivity" />

        <activity
            android:name=".ChatBotActivity"
            android:exported="false"
            android:parentActivityName=".SelectActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity
            android:name=".ExpertChatActivity"
            android:exported="false"
            android:parentActivityName=".SelectActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

    </application>

</manifest>